@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title>Perpetuality</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@Links.Content.CSS.perpetuality_map_css">
    <link rel="stylesheet" href="@Links.Content.CSS.game_ui_css">
    <script type="text/javascript" src="@Links.Scripts.lib.jquery_1_7_1_js"></script>
    <script src="@Links.Scripts.lib.jquery_ui_1_8_20_js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyDxynbvhnTHYl8nIIAoct1AjbJCxWZSwPw&sensor=false"></script>
    <script src="@Links.Scripts.lib.knockout_2_1_0_js"></script>
    <script src="@Links.Scripts.plants_js"></script>
    <script src="@Links.Scripts.gamestate_js"></script>
    <script type="text/javascript" src="@Links.Scripts.perpetuality_map_js"></script>
  </head>
  <body>
    <div id="playerState" data="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PlayerState)"></div>
    <div id="map"></div>
    <div id="status-pane" class="map-pane map-pane-top" style="z-index: 0; position: absolute; left: 88px; top: 0px;">
        <div class="map-pane-item map-pane-item-horizontal">
            <img src="/Content/Images/original/logo2.png">
            <div data-bind="text: timeText"></div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div data-bind="text: powerText">0</div>
            <div>KwH</div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div data-bind="text: creditsText">0</div>
            <div>Credits</div>
        </div>
    </div>
    <div id="overlay-pane" class="map-pane map-pane-bottom" style="z-index: 0; position: absolute; bottom: 0px; left: 389px">
        <div class="map-pane-item map-pane-item-horizontal">
            <div class="overlaybutton" data-bind="click: function(data) { data.selectedOverlay('geo'); data.setOpacity(0.0); }, css: { selected: selectedOverlay() == 'geo' }">
                <img src="/Content/Images/button-geothermal-overlay.png">
                <div class="overlaybuttontext">Geothermal</div>
            </div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div class="overlaybutton" data-bind="click: function(data) { data.selectedOverlay('solar'); data.setOpacity(0.8); }, css: { selected: selectedOverlay() == 'solar' }">
                <img src="/Content/Images/button-solar-overlay.png"/>
                <div class="overlaybuttontext">Solar</div>
            </div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div class="overlaybutton" data-bind="click: function(data) { data.selectedOverlay('water'); data.setOpacity(0.0); }, css: { selected: selectedOverlay() == 'water' }">
                <img src="/Content/Images/button-water-overlay.png"/>
                <div class="overlaybuttontext">Water</div>
            </div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div class="overlaybutton" data-bind="click: function(data) { data.selectedOverlay('wind'); data.setOpacity(0.0); }, css: { selected: selectedOverlay() == 'wind' }">
                <img src="/Content/Images/button-wind-overlay.png"/>
                <div class="overlaybuttontext">Wind</div>
            </div>
        </div>
        <div class="map-pane-item map-pane-item-horizontal">
            <div class="overlaybutton" data-bind="click: function(data) { data.selectedOverlay('none'); data.setOpacity(0.0); }, css: { selected: selectedOverlay() == 'none' }">
                <img src="/Content/Images/button-none-overlay.png"/>
                <div class="overlaybuttontext">None</div>
            </div>
        </div>
    </div>
      <div id="sprite-pane" class="map-pane map-pane-right" style="z-index: 0; position: absolute; right: 0px; top: 98px;">
          <div data-bind="visible: calculatedPlant() == null">
              <div class="map-pane-item">
                  <div id="plantcost" data-bind="text: selectedPlantType() != plantTypes.none ? selectedPlantType().cost : 'None'"></div>
                  <div>Plant cost</div>
              </div>
              <div class="map-pane-item">
                  <div id="plantsize" data-bind="text: selectedPlantType() != plantTypes.none ? selectedPlantType().size : 'None'"></div>
                  <div>Plant size</div>
              </div>
              <div class="map-pane-item map-pane-item-vertical">
                  <div id="solarroofbutton" class="plantbutton" data-bind="click: perpetuality.plant.clickable('solarroof'), css: { selected: selectedPlantType() == plantTypes.solarroof }"></div>
                  <div>Solar Panels</div>
              </div>
              <div class="map-pane-item map-pane-item-vertical">
                  <div id="solarfieldbutton" class="plantbutton" data-bind="click: perpetuality.plant.clickable('solarfield'), css: { selected: selectedPlantType() == plantTypes.solarfield }"></div>
                  <div>Solar Field</div>
              </div>
              <div class="map-pane-item map-pane-item-vertical">
                  <div id="solartowerbutton" class="plantbutton" data-bind="click: perpetuality.plant.clickable('solartower'), css: { selected: selectedPlantType() == plantTypes.solartower }"></div>
                  <div>Solar Plant</div>
              </div>
          </div>
          <div data-bind="visible: calculatedPlant() != null">
              <div class="map-pane-item" data-bind="with: calculatedPlant" style="font-size: 10px">
                  Cst <span data-bind="text: plantData.cost"></span> $<br />
                  Pwr <span data-bind="text: plantData.power"></span> W<br />
                  Rev <span data-bind="text: plantData.revenue"></span> $/yr<br />
                  (Sun <span data-bind="text: plantData.sunpower"></span> W/m2/yr)<br />
              </div>
              <div class="map-pane-item map-pane-item-vertical">
                  <div class="plantbutton" data-bind="click: installPlant"></div>
                  <div>Save Plant</div>
              </div>
              <div class="map-pane-item map-pane-item-vertical">
                  <div class="plantbutton" data-bind="click: cancelPlant"></div>
                  <div>Cancel</div>
              </div>
          </div>
      </div>
      <div id="detail-pane" class="map-pane map-pane-left" style="z-index: 0; position: absolute; left: 0px; top: 248px;">
          <div>
              <div class="map-section-title">Detail Title</div>
              <div class="map-section-text">Detail Contents.</div>
          </div>
      </div>
  </body>
</html>
