@{
    Layout = null;
}

<!DOCTYPE html>
<script type="text/javascript" src="@Links.Scripts.jquery_1_7_1_min_js"></script>
<script type="text/javascript" src="@Links.Scripts.knockout_2_1_0_js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxynbvhnTHYl8nIIAoct1AjbJCxWZSwPw&sensor=false"></script>
<script type="text/javascript" src="@Links.Scripts.perpetuality_map_js"></script>
<link rel="stylesheet" href="@Links.Content.CSS.perpetuality_map_css">
<link rel="stylesheet" href="@Links.Content.CSS.game_ui_css">
<div id="map"></div>

<script src="@Links.Scripts.jquery_1_7_1_min_js"></script>
<script src="@Links.Scripts.jquery_ui_1_8_20_min_js"></script>
<script src="@Links.Scripts.plants_js"></script>


