@{
    Layout = MVC.Shared.Views._LayoutStrip;
    
    ViewBag.Title = Resources.Home.Login.PageTitle;

    string language = (string)ViewContext.RouteData.Values["language"];
    
    var validationMessages = new { 
        emailAddress = new { 
            required = Resources.Home.Login.ValidationEmailAdressRequired
        }, 
        password = new { 
            required = Resources.Home.Login.ValidationPasswordRequired
        } 
    };
}
<div class="main-container">
<div id="validationMessages" style="display: none" data="@Newtonsoft.Json.JsonConvert.SerializeObject(validationMessages)"></div>
<form id="login-Form" method="post">
    <div class="form-middle">
        <div class="field-row">
            <div class="field-label">@Resources.Home.Login.EmailAddressLabelText</div>
            <div class="field-wrapper">
                <input type="text" name="emailAddress" id="emailAddress" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">@Resources.Home.Login.PasswordLabelText</div>
            <div class="field-wrapper">
                <input type="password" name="password" id="password" />
            </div>
        </div>
        <div class="field-row right">
            <input type="checkbox" name="rememberMe" id="rememberMeCB" value="true" />
            <input type="hidden" name="rememberMe" id="rememberMe" value="false"/>
            <label for="rememberMeCB">@Resources.Home.Login.RememberMeLabelText</label>
            <a href="/@language/home/resetpassword">@Resources.Home.Login.ForgetPasswordText</a>
        </div>
    </div>
    <div class="form-bottom">
        <input type="submit" value="@Resources.Home.Login.LoginButtonText" />
        <a href="/@language/home/register">@Resources.Home.Login.DontHaveAnAccountText</a>
    </div>
</form>
    </div>
@section scripts
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js"></script>
    <script type="text/javascript">
        $('#login-Form').validate({
            onkeyup: false,
            onfocusout: false,
            rules: {
                emailAddress: {
                    required: true,
                },
                password: {
                    required: true,
                },
            },
            messages: JSON.parse($('#validationMessages').attr('data'))
        });
    </script>
}
