@using Perpetuality.Data;
@{
    string language = (string)ViewContext.RouteData.Values["language"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bundledCSS")
    @Scripts.Render("~/bundles/modernizr")
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <h1>Perpetuality</h1>
        <ul id="nav">
        @if (Request.IsAuthenticated)
        {
            <li>
                <a href="/@language/home/profile">@Request.RequestContext.HttpContext.User.Identity.Name</a>
            </li>
            <li>
                <a href="/@language/home/logout">Logout</a>
            </li>
        } else {
            <li>
                <a href="/@language/home/login">@Resources.Shared._Layout.MenuLoginText</a>
            </li>
            <li>
                <a href="/@language/home/register">Register</a>
            </li>
        }
        <li>
            <a href="javascript:void()">@Language.LanguageByAbbreviation(language).LocalName</a>
            <ul>
                @foreach (var lang in Language.Languages)
                {
                    <li>@Html.ActionLink(
                        lang.LocalName, 
                        ViewContext.RouteData.Values["action"].ToString(), 
                        new { language = @lang.Abbreviation })</li>
                }
             </ul>
        </li>
    </ul>
    <div style="clear: both"></div>

    </header>
    
    <div id="container">
             @RenderBody()          
    
    </div>
    <footer>
        <ul class="footer-nav">
            <li>
                <a href="/@language/home" class="menu-btn @ViewBag.MenuHome">
                        @Resources.Shared._Layout.MenuHomeText
                    </a>
            </li>
            <li>
                    <a href="/@language/news" class="menu-btn @ViewBag.MenuNews">
                    <span>@Resources.Shared._Layout.MenuNewsText</span>
                </a>
            </li>
            <li>
                <a href="/@language/faqs" class="menu-btn @ViewBag.MenuFAQs">
                    <span>FAQs</span>
                </a>
            </li>
            <li>
                <a href="/@language/credits" class="menu-btn @ViewBag.MenuCredits">
                    <span>Credits</span>
                </a>
            </li>
        </ul>
     </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            //Hover must be removed for mobiles
            $('#nav li').hover(
                function () {
                    $('ul', this).toggleClass('opened');
                },
                function () {
                    $('ul', this).toggleClass('opened');
                }
            );
            $('#nav li').on('click', function () {
                
                    $('ul', this).toggleClass('opened');
                
            });
        });
    </script>
</body>
</html>
