@{
    Layout = MVC.Shared.Views._LayoutStrip;
    string language = (string)ViewContext.RouteData.Values["language"];
}
<div class="main-container">
    <div class="main-content">
        <div class="left-container">
            
        </div>
    </div>
    <div class="middle-container">
        @RenderBody()
    </div>
    <div class="right-container">

    </div>
</div>

<footer>

<ul class="footer-nav">
    <li>
        <a href="/@language/home" class="menu-btn @ViewBag.MenuHome">
                @Resources.Shared._Layout.MenuHomeText
            </a>
    </li>
    <li>
            <a href="/@language/news" class="menu-btn @ViewBag.MenuNews">
            <span>@Resources.Shared._Layout.MenuNewsText</span>
        </a>
    </li>
    <li>
        <a href="/@language/faqs" class="menu-btn @ViewBag.MenuFAQs">
            <span>FAQs</span>
        </a>
    </li>
    <li>
        <a href="/@language/credits" class="menu-btn @ViewBag.MenuCredits">
            <span>Credits</span>
        </a>
    </li>
</ul>
                    
</footer>